In [62]:
import pandas as pd
import numpy as np

data = pd.read_csv('../../data/processed/master_dataset.csv')
data.head()

,SERIES,CNTRY,TRN,AGG,UNIT,REF,CODE,COUNTRY,SUB-CHAPTER,TITLE,...,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026
0,EU27.1.0.0.0.UVGD,EU27,1,0,0,0,UVGD,European Union,01 Gross domestic product,Gross domestic product at current prices,...,13168.01,13627.80,14122.20,13580.69,14795.10,16144.52,17205.10,17945.95,18644.28,19335.29
1,EU15.1.0.0.0.UVGD,EU15,1,0,0,0,UVGD,European Union (15 countries),01 Gross domestic product,Gross domestic product at current prices,...,14209.27,14620.28,15123.70,14435.51,15781.27,17199.52,18166.65,18987.43,19638.28,20272.00
2,EA19.1.0.0.0.UVGD,EA19,1,0,0,0,UVGD,Euro area (19 countries),01 Gross domestic product,Gross domestic product at current prices,...,11316.20,11690.85,12082.04,11564.47,12555.19,13656.74,14522.61,15071.12,15575.07,16102.36
3,EA20.1.0.0.0.UVGD,EA20,1,0,0,0,UVGD,Euro area,01 Gross domestic product,Gross domestic product at current prices,...,11365.93,11743.07,12136.94,11615.21,12613.54,13724.35,14600.67,15156.73,15667.27,16199.72
4,EA12.1.0.0.0.UVGD,EA12,1,0,0,0,UVGD,Euro area (12 countries),01 Gross domestic product,Gross domestic product at current prices,...,11063.16,11419.09,11794.06,11279.32,12238.46,13302.14,14131.59,14659.00,15140.31,15645.50

In [63]:
preferred_aggregations = {
    'HVGDP': '99',
    'UVG5': '99', # Gross value added at current prices - services
    'UVGM': '99', # Gross value added at current prices - manufacturing industry
    'UVG1': '99', # Gross Value Added at current prices - agriculture, forestry and fishery products,
    'UXGS': '99', # Exports of goods and services at current prices (National accounts)
    'UMGS': '99', # Imports of goods and services at current prices (National accounts),
    'PIGT': '99', # Price deflator gross fixed capital formation: total economy,
    'NETD': '0', # Employment, persons: all domestic industries (National accounts),
    'UDGGL': '99'
}
countries_of_interest = ['North Macedonia', 'Serbia', 'Albania', 'Greece', 'Bulgaria', 'Montenegro', 'Croatia', 'Slovenia', 'European Union']
mask = pd.Series(False, index=data.index)

for var, agg in preferred_aggregations.items():
    pattern = rf'\.{agg}\..*\.{var}$'
    mask |= data['SERIES'].str.contains(pattern, regex=True)

filtered_data = data[mask]
filtered_data = filtered_data[filtered_data['COUNTRY'].isin(countries_of_interest)]


filtered_data

,SERIES,CNTRY,TRN,AGG,UNIT,REF,CODE,COUNTRY,SUB-CHAPTER,TITLE,...,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026
982,EU27.1.0.99.0.HVGDP,EU27,1,0,99,0,HVGDP,European Union,02 Gross domestic product per head of population,Gross domestic product at current prices per h...,...,29.60257,30.58188,31.62948,30.44350,33.18047,35.98339,38.15434,39.68449,41.13679,42.58108
988,BGR.1.0.99.0.HVGDP,BGR,1,0,99,0,HVGDP,Bulgaria,02 Gross domestic product per head of population,Gross domestic product at current prices per h...,...,7.71691,8.36433,9.26563,9.45128,10.96898,13.31494,14.69136,16.11414,17.38649,18.30360
995,GRC.1.0.99.0.HVGDP,GRC,1,0,99,0,HVGDP,Greece,02 Gross domestic product per head of population,Gross domestic product at current prices per h...,...,16.49313,16.82824,17.27184,15.65996,17.34657,19.64748,21.34944,22.55881,23.92035,25.07655
998,HRV.1.0.99.0.HVGDP,HRV,1,0,99,0,HVGDP,Croatia,02 Gross domestic product per head of population,Gross domestic product at current prices per h...,...,12.04293,12.76425,13.77112,12.84607,14.87324,17.25764,19.80064,21.73760,23.42130,24.74334
1011,SVN.1.0.99.0.HVGDP,SVN,1,0,99,0,HVGDP,Slovenia,02 Gross domestic product per head of population,Gross domestic product at current prices per h...,...,20.63369,21.94176,23.05228,22.22689,24.68184,26.97878,30.15800,31.48997,32.95089,34.58188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33745,SVN.1.0.0.0.NETD,SVN,1,0,0,0,NETD,Slovenia,"04 Employment, persons (national accounts)","Employment, persons: all domestic industries (...",...,989.53000,1020.88000,1045.71000,1038.44000,1051.92000,1082.44000,1100.19000,1101.75000,1108.90400,1116.22200
33750,ALB.1.0.0.0.NETD,ALB,1,0,0,0,NETD,Albania,"04 Employment, persons (national accounts)","Employment, persons: all domestic industries (...",...,1179.88900,1229.19900,1260.72300,1238.44900,1239.11100,1288.89600,1307.98400,1326.14600,1343.30900,1357.30500
33751,MNE.1.0.0.0.NETD,MNE,1,0,0,0,NETD,Montenegro,"04 Employment, persons (national accounts)","Employment, persons: all domestic industries (...",...,223.95000,231.15000,237.25000,213.30000,208.10000,244.00000,269.60000,277.32300,286.12800,292.28300
33752,MKD.1.0.0.0.NETD,MKD,1,0,0,0,NETD,North Macedonia,"04 Employment, persons (national accounts)","Employment, persons: all domestic industries (...",...,812.32000,813.29000,831.07000,773.48000,792.63000,743.45000,742.79000,775.80000,785.89400,790.87700
33753,SRB.1.0.0.0.NETD,SRB,1,0,0,0,NETD,Serbia,"04 Employment, persons (national accounts)","Employment, persons: all domestic industries (...",...,2794.70000,2832.90000,2901.00000,2894.80000,2754.77500,2818.50000,2841.95000,2897.74900,2910.93100,2929.69800

In [64]:
data = filtered_data[['COUNTRY', 'CODE', 'TITLE'] + [str(x) for x in range(2000, 2024)]]
data

,COUNTRY,CODE,TITLE,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
982,European Union,HVGDP,Gross domestic product at current prices per h...,18.41581,19.26613,19.92738,20.39532,21.25411,22.10644,23.32430,...,26.83481,27.77126,28.46116,29.60257,30.58188,31.62948,30.44350,33.18047,35.98339,38.15434
988,Bulgaria,HVGDP,Gross domestic product at current prices per h...,1.76737,2.00995,2.22118,2.40277,2.71087,3.10598,3.56019,...,6.08246,6.55732,7.07153,7.71691,8.36433,9.26563,9.45128,10.96898,13.31494,14.69136
995,Greece,HVGDP,Gross domestic product at current prices per h...,12.75496,13.57362,14.57550,15.93106,17.24349,17.72706,19.44567,...,16.16468,16.20593,16.18861,16.49313,16.82824,17.27184,15.65996,17.34657,19.64748,21.34944
998,Croatia,HVGDP,Gross domestic product at current prices per h...,5.28748,6.03114,6.68013,7.20379,7.84602,8.54308,9.41955,...,10.59281,10.92477,11.40092,12.04293,12.76425,13.77112,12.84607,14.87324,17.25764,19.80064
1011,Slovenia,HVGDP,Gross domestic product at current prices per h...,10.92100,11.55556,12.37060,13.02659,13.76091,14.45135,15.58890,...,18.07689,18.65647,19.38031,20.63369,21.94176,23.05228,22.22689,24.68184,26.97878,30.15800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33745,Slovenia,NETD,"Employment, persons: all domestic industries (...",914.74000,919.97000,932.64000,929.25000,934.37000,929.84000,944.46000,...,931.89000,944.09000,961.59000,989.53000,1020.88000,1045.71000,1038.44000,1051.92000,1082.44000,1100.19000
33750,Albania,NETD,"Employment, persons: all domestic industries (...",970.01000,835.58900,835.58900,841.03900,845.58000,846.48800,849.21300,...,1030.61200,1077.07600,1142.42000,1179.88900,1229.19900,1260.72300,1238.44900,1239.11100,1288.89600,1307.98400
33751,Montenegro,NETD,"Employment, persons: all domestic industries (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,212.92500,217.00000,219.35000,223.95000,231.15000,237.25000,213.30000,208.10000,244.00000,269.60000
33752,North Macedonia,NETD,"Employment, persons: all domestic industries (...",592.81000,580.04000,598.52000,599.28000,559.93000,587.48000,614.58000,...,762.51000,776.75000,788.92000,812.32000,813.29000,831.07000,773.48000,792.63000,743.45000,742.79000
33753,Serbia,NETD,"Employment, persons: all domestic industries (...",3093.67400,3105.59800,3000.21900,2918.58900,2930.84600,2733.41200,2630.69100,...,2559.40000,2574.20000,2719.40000,2794.70000,2832.90000,2901.00000,2894.80000,2754.77500,2818.50000,2841.95000

In [65]:
data = data.melt(id_vars=['CODE', 'COUNTRY', 'TITLE'], var_name='DATE', value_name='VALUE')
data

,CODE,COUNTRY,TITLE,DATE,VALUE
0,HVGDP,European Union,Gross domestic product at current prices per h...,2000,18.41581
1,HVGDP,Bulgaria,Gross domestic product at current prices per h...,2000,1.76737
2,HVGDP,Greece,Gross domestic product at current prices per h...,2000,12.75496
3,HVGDP,Croatia,Gross domestic product at current prices per h...,2000,5.28748
4,HVGDP,Slovenia,Gross domestic product at current prices per h...,2000,10.92100
...,...,...,...,...,...
1939,NETD,Slovenia,"Employment, persons: all domestic industries (...",2023,1100.19000
1940,NETD,Albania,"Employment, persons: all domestic industries (...",2023,1307.98400
1941,NETD,Montenegro,"Employment, persons: all domestic industries (...",2023,269.60000
1942,NETD,North Macedonia,"Employment, persons: all domestic industries (...",2023,742.79000
1943,NETD,Serbia,"Employment, persons: all domestic industries (...",2023,2841.95000

In [66]:
eu_gdp = data[(data['COUNTRY']=='European Union') & (data['CODE']=='HVGDP')][['DATE','VALUE']]
eu_gdp.columns = ['DATE', 'EU_HVGDP']
eu_gdp

      DATE  EU_HVGDP
0     2000  18.41581
81    2001  19.26613
162   2002  19.92738
243   2003  20.39532
324   2004  21.25411
405   2005  22.10644
486   2006  23.32430
567   2007  24.67917
648   2008  25.39290
729   2009  24.22874
810   2010  25.09508
891   2011  25.88003
972   2012  25.98001
1053  2013  26.24770
1134  2014  26.83481
1215  2015  27.77126
1296  2016  28.46116
1377  2017  29.60257
1458  2018  30.58188
1539  2019  31.62948
1620  2020  30.44350
1701  2021  33.18047
1782  2022  35.98339
1863  2023  38.15434

In [67]:
data = data.pivot_table(
    index=['COUNTRY', 'DATE'],
    columns=['CODE'],
    values=['VALUE']
).reset_index()
data

       COUNTRY  DATE     VALUE                                         \
CODE                     HVGDP      NETD        PIGT  UDGGL      UMGS
0      Albania  2000   1.27205   970.010   70.801108    NaN   1.63839
1      Albania  2001   1.47673   835.589   76.264277    NaN   1.97184
2      Albania  2002   1.56979   835.589   75.015132    NaN   2.19453
3      Albania  2003   1.67648   841.039   73.943124    NaN   2.27577
4      Albania  2004   1.96774   845.580   81.256062    NaN   2.59013
..         ...   ...       ...       ...         ...    ...       ...
211   Slovenia  2019  23.05228  1045.710   99.323605  31.79  36.44828
212   Slovenia  2020  22.22689  1038.440  100.000000  37.47  32.37927
213   Slovenia  2021  24.68184  1051.920  105.637243  38.93  40.63249
214   Slovenia  2022  26.97878  1082.440  119.952994  41.39  52.49091
215   Slovenia  2023  30.15800  1100.190  126.299108  43.74  49.14486


CODE      UVG1      UVG5       UVGM      UXGS
0     0.863566   1.63983   0.183446   0.76044
1     0.924254   1.90700   0.196092   0.93154
2     0.946580   1.95741   0.206317   0.96609
3     1.009365   1.99235   0.221323   1.02752
4     1.105655   2.35627   0.266500   1.28367
..         ...       ...        ...       ...
211   0.852560  27.21682   9.907910  40.62337
212   0.886770  26.72400   9.589750  36.58322
213   0.786190  30.08694  10.381270  43.68724
214   0.973270  33.04655  11.339980  53.48438
215   0.971620  36.93156  12.530840  53.24008

[216 rows x 11 columns]

In [69]:
employees_df = pd.read_csv("../../data/original/EMP_TEMP_SEX_ECO_NB_A-20251128T2251.csv")
employees_df

,ref_area.label,source.label,indicator.label,sex.label,classif1.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Aruba,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Total,Economic activity (Broad sector): Total,2011,47.915,NaN,NaN,NaN,NaN
1,Aruba,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Total,Economic activity (Broad sector): Agriculture,2011,0.286,NaN,NaN,NaN,NaN
2,Aruba,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Total,Economic activity (Broad sector): Non-agriculture,2011,47.629,NaN,NaN,NaN,NaN
3,Aruba,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Total,Economic activity (Broad sector): Industry,2011,6.728,NaN,NaN,NaN,NaN
4,Aruba,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Total,Economic activity (Broad sector): Services,2011,40.763,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
398981,Zimbabwe,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Female,Economic activity (ISIC-Rev.3.1): L. Public ad...,1999,21.226,NaN,NaN,NaN,Data reference period: June
398982,Zimbabwe,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Female,Economic activity (ISIC-Rev.3.1): M. Education,1999,66.082,NaN,NaN,NaN,Data reference period: June
398983,Zimbabwe,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Female,Economic activity (ISIC-Rev.3.1): N. Health an...,1999,29.842,NaN,Nonstandard economic activity: Including O,NaN,Data reference period: June
398984,Zimbabwe,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Female,Economic activity (ISIC-Rev.3.1): P. Activitie...,1999,141.428,NaN,NaN,NaN,Data reference period: June
398985,Zimbabwe,LFS - Labour Force Survey,Employment by sex and economic activity (thous...,Female,Economic activity (ISIC-Rev.3.1): Q. Extraterr...,1999,123.909,NaN,Nonstandard economic activity: Including X,NaN,Data reference period: June

In [70]:
balkan_countries_data = employees_df[
    (employees_df["ref_area.label"].isin(['North Macedonia', 'Serbia', 'Albania', 'Greece', 'Bulgaria', 'Montenegro', 'Croatia', 'Slovenia'])) &
    (employees_df["sex.label"]=='Total') &
    (employees_df["classif1.label"].isin([
        "Economic activity (Broad sector): Agriculture",
        "Economic activity (Broad sector): Industry",
        "Economic activity (Broad sector): Services",
        "Economic activity (Broad sector): Total"
    ]))]
balkan_countries_data = balkan_countries_data[['ref_area.label', 'time', 'classif1.label', 'obs_value']]
balkan_countries_data

,ref_area.label,time,classif1.label,obs_value
1936,Albania,2023,Economic activity (Broad sector): Total,1324.196
1937,Albania,2023,Economic activity (Broad sector): Agriculture,427.320
1939,Albania,2023,Economic activity (Broad sector): Industry,279.175
1940,Albania,2023,Economic activity (Broad sector): Services,617.701
2047,Albania,2022,Economic activity (Broad sector): Total,1297.899
...,...,...,...,...
346714,Slovenia,1994,Economic activity (Broad sector): Services,390.000
346797,Slovenia,1993,Economic activity (Broad sector): Total,845.000
346798,Slovenia,1993,Economic activity (Broad sector): Agriculture,90.000
346800,Slovenia,1993,Economic activity (Broad sector): Industry,373.000
346801,Slovenia,1993,Economic activity (Broad sector): Services,381.000

In [71]:
balkan_countries_data = balkan_countries_data.pivot_table(
    index=["ref_area.label", "time"],
    columns="classif1.label",
    values="obs_value"
).reset_index()
balkan_countries_data.columns = ['COUNTRY', 'DATE', 'Employees_Agriculture', 'Employees_Industry', 'Employees_Services', 'Employees_Total']
balkan_countries_data

,COUNTRY,DATE,Employees_Agriculture,Employees_Industry,Employees_Services,Employees_Total
0,Albania,1994,780.000,128.000,253.000,1161.000
1,Albania,1995,778.000,116.000,244.000,1138.000
2,Albania,1996,784.000,107.000,225.000,1116.000
3,Albania,1997,771.000,103.000,233.000,1107.000
4,Albania,1998,768.000,95.000,222.000,1085.000
...,...,...,...,...,...,...
227,Slovenia,2020,39.799,331.486,602.341,978.027
228,Slovenia,2021,39.161,290.220,637.480,971.562
229,Slovenia,2022,42.336,296.353,643.780,986.134
230,Slovenia,2023,39.657,316.483,629.312,989.385
231,Slovenia,2024,37.503,318.611,639.244,998.433

In [72]:
data.columns

MultiIndex([('COUNTRY',      ''),
            (   'DATE',      ''),
            (  'VALUE', 'HVGDP'),
            (  'VALUE',  'NETD'),
            (  'VALUE',  'PIGT'),
            (  'VALUE', 'UDGGL'),
            (  'VALUE',  'UMGS'),
            (  'VALUE',  'UVG1'),
            (  'VALUE',  'UVG5'),
            (  'VALUE',  'UVGM'),
            (  'VALUE',  'UXGS')],
           names=[None, 'CODE'])

In [73]:
data.columns = ['COUNTRY', 'DATE', 'HVGDP', 'NETD', 'PIGT', 'UDGGL', 'UMGS', 'UVG1', 'UVG5', 'UVGM', 'UXGS']
data

,COUNTRY,DATE,HVGDP,NETD,PIGT,UDGGL,UMGS,UVG1,UVG5,UVGM,UXGS
0,Albania,2000,1.27205,970.010,70.801108,NaN,1.63839,0.863566,1.63983,0.183446,0.76044
1,Albania,2001,1.47673,835.589,76.264277,NaN,1.97184,0.924254,1.90700,0.196092,0.93154
2,Albania,2002,1.56979,835.589,75.015132,NaN,2.19453,0.946580,1.95741,0.206317,0.96609
3,Albania,2003,1.67648,841.039,73.943124,NaN,2.27577,1.009365,1.99235,0.221323,1.02752
4,Albania,2004,1.96774,845.580,81.256062,NaN,2.59013,1.105655,2.35627,0.266500,1.28367
...,...,...,...,...,...,...,...,...,...,...,...
211,Slovenia,2019,23.05228,1045.710,99.323605,31.79,36.44828,0.852560,27.21682,9.907910,40.62337
212,Slovenia,2020,22.22689,1038.440,100.000000,37.47,32.37927,0.886770,26.72400,9.589750,36.58322
213,Slovenia,2021,24.68184,1051.920,105.637243,38.93,40.63249,0.786190,30.08694,10.381270,43.68724
214,Slovenia,2022,26.97878,1082.440,119.952994,41.39,52.49091,0.973270,33.04655,11.339980,53.48438
215,Slovenia,2023,30.15800,1100.190,126.299108,43.74,49.14486,0.971620,36.93156,12.530840,53.24008

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   COUNTRY  216 non-null    object
 1   DATE     216 non-null    object
 2   HVGDP    215 non-null    float64
 3   NETD     208 non-null    float64
 4   PIGT     210 non-null    float64
 5   UDGGL    203 non-null    float64
 6   UMGS     216 non-null    float64
 7   UVG1     210 non-null    float64
 8   UVG5     210 non-null    float64
 9   UVGM     210 non-null    float64
 10  UXGS     216 non-null    float64
dtypes: float64(9), object(2)
memory usage: 18.7+ KB

In [75]:
balkan_countries_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   COUNTRY                232 non-null    object
 1   DATE                   232 non-null    int64
 2   Employees_Agriculture  228 non-null    float64
 3   Employees_Industry     226 non-null    float64
 4   Employees_Services     226 non-null    float64
 5   Employees_Total        232 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 11.0+ KB

In [76]:
balkan_countries_data['DATE'] = balkan_countries_data['DATE'].astype(str)

In [77]:
combined_df = data.merge(balkan_countries_data, left_on=['COUNTRY', 'DATE'], right_on=['COUNTRY', 'DATE'], how='inner')
combined_df

,COUNTRY,DATE,HVGDP,NETD,PIGT,UDGGL,UMGS,UVG1,UVG5,UVGM,UXGS,Employees_Agriculture,Employees_Industry,Employees_Services,Employees_Total
0,Albania,2000,1.27205,970.010,70.801108,NaN,1.63839,0.863566,1.63983,0.183446,0.76044,767.000,71.000,230.000,1068.000
1,Albania,2001,1.47673,835.589,76.264277,NaN,1.97184,0.924254,1.90700,0.196092,0.93154,767.000,69.000,227.000,1063.000
2,Albania,2002,1.56979,835.589,75.015132,NaN,2.19453,0.946580,1.95741,0.206317,0.96609,531.000,126.000,261.000,920.000
3,Albania,2003,1.67648,841.039,73.943124,NaN,2.27577,1.009365,1.99235,0.221323,1.02752,538.000,124.000,264.000,926.000
4,Albania,2004,1.96774,845.580,81.256062,NaN,2.59013,1.105655,2.35627,0.266500,1.28367,545.000,127.000,257.000,931.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Slovenia,2019,23.05228,1045.710,99.323605,31.79,36.44828,0.852560,27.21682,9.907910,40.62337,41.790,333.207,601.960,982.515
175,Slovenia,2020,22.22689,1038.440,100.000000,37.47,32.37927,0.886770,26.72400,9.589750,36.58322,39.799,331.486,602.341,978.027
176,Slovenia,2021,24.68184,1051.920,105.637243,38.93,40.63249,0.786190,30.08694,10.381270,43.68724,39.161,290.220,637.480,971.562
177,Slovenia,2022,26.97878,1082.440,119.952994,41.39,52.49091,0.973270,33.04655,11.339980,53.48438,42.336,296.353,643.780,986.134
178,Slovenia,2023,30.15800,1100.190,126.299108,43.74,49.14486,0.971620,36.93156,12.530840,53.24008,39.657,316.483,629.312,989.385

In [78]:
final_df = combined_df.merge(eu_gdp, left_on='DATE', right_on='DATE', how='inner')
final_df

,COUNTRY,DATE,HVGDP,NETD,PIGT,UDGGL,UMGS,UVG1,UVG5,UVGM,UXGS,Employees_Agriculture,Employees_Industry,Employees_Services,Employees_Total,EU_HVGDP
0,Albania,2000,1.27205,970.010,70.801108,NaN,1.63839,0.863566,1.63983,0.183446,0.76044,767.000,71.000,230.000,1068.000,18.41581
1,Albania,2001,1.47673,835.589,76.264277,NaN,1.97184,0.924254,1.90700,0.196092,0.93154,767.000,69.000,227.000,1063.000,19.26613
2,Albania,2002,1.56979,835.589,75.015132,NaN,2.19453,0.946580,1.95741,0.206317,0.96609,531.000,126.000,261.000,920.000,19.92738
3,Albania,2003,1.67648,841.039,73.943124,NaN,2.27577,1.009365,1.99235,0.221323,1.02752,538.000,124.000,264.000,926.000,20.39532
4,Albania,2004,1.96774,845.580,81.256062,NaN,2.59013,1.105655,2.35627,0.266500,1.28367,545.000,127.000,257.000,931.000,21.25411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Slovenia,2019,23.05228,1045.710,99.323605,31.79,36.44828,0.852560,27.21682,9.907910,40.62337,41.790,333.207,601.960,982.515,31.62948
175,Slovenia,2020,22.22689,1038.440,100.000000,37.47,32.37927,0.886770,26.72400,9.589750,36.58322,39.799,331.486,602.341,978.027,30.44350
176,Slovenia,2021,24.68184,1051.920,105.637243,38.93,40.63249,0.786190,30.08694,10.381270,43.68724,39.161,290.220,637.480,971.562,33.18047
177,Slovenia,2022,26.97878,1082.440,119.952994,41.39,52.49091,0.973270,33.04655,11.339980,53.48438,42.336,296.353,643.780,986.134,35.98339
178,Slovenia,2023,30.15800,1100.190,126.299108,43.74,49.14486,0.971620,36.93156,12.530840,53.24008,39.657,316.483,629.312,989.385,38.15434

In [80]:
wgi_df = pd.read_excel('../../data/original/wgidataset.xlsx')

balkan_codes = ['ALB', 'BGR', 'HRV', 'MNE', 'MKD', 'SRB', 'SVN', 'GRC']

wgi_balkan_df = wgi_df[
    (wgi_df['code'].isin(balkan_codes)) &
    (wgi_df['year'] >= 2000) & (wgi_df['year'] <= 2024)
].copy()

wgi_balkan_df = wgi_balkan_df.pivot_table(
    index=['countryname', 'year'],
    columns='indicator',
    values=['estimate'],
    aggfunc='first'
)

wgi_balkan_df.columns = ['_'.join(col).strip() for col in wgi_balkan_df.columns.values]
wgi_balkan_df = wgi_balkan_df.reset_index()

wgi_balkan_df

,countryname,year,estimate_cc,estimate_ge,estimate_pv,estimate_rl,estimate_rq,estimate_va
0,Albania,2000,-0.855564,-0.91778,-0.53999,-1.020668,-0.41591,-0.285139
1,Albania,2002,-0.845341,-0.624333,-0.297719,-0.762321,-0.311401,-0.00815
2,Albania,2003,-0.853787,-0.563987,-0.30978,-0.716323,-0.490217,0.070308
3,Albania,2004,-0.723732,-0.408372,-0.42726,-0.701032,-0.187492,0.007237
4,Albania,2005,-0.813264,-0.696387,-0.505048,-0.763833,-0.400731,0.003672
...,...,...,...,...,...,...,...,...
179,Slovenia,2019,0.88842,1.041784,0.801586,1.085001,0.997022,0.977373
180,Slovenia,2020,0.777403,1.121174,0.701468,1.039549,0.91221,0.93214
181,Slovenia,2021,0.693,1.137307,0.755585,1.00168,0.822129,0.904862
182,Slovenia,2022,0.767269,1.068536,0.709335,0.970905,0.694944,0.976333
183,Slovenia,2023,0.776647,1.039294,0.818633,1.038808,0.731422,1.079099

Meaning of variables:
- CC: Control of Corruption
- GE: Government Effectiveness
- RL: Rule of Law
- RQ: Regulatory Quality
- PV: Political Stability and Absence of Violence/Terrorism
- VA: Voice and Accountability

In [83]:
wgi_balkan_df['year'] = wgi_balkan_df['year'].astype(str)
final_df = final_df.merge(wgi_balkan_df, left_on=['COUNTRY', 'DATE'], right_on=['countryname', 'year'], how='inner')

In [84]:
final_features_df = final_df.copy()

final_features_df["Total_Trade"] = final_features_df["UMGS"] + final_features_df["UXGS"]
final_features_df["Trade_Openness"] = final_features_df["Total_Trade"] / final_features_df["HVGDP"]
final_features_df["Net_Exports"] = final_features_df["UXGS"] - final_features_df["UMGS"]
final_features_df["Net_Exports_GDP"] = final_features_df["Net_Exports"] / final_features_df["HVGDP"]

final_features_df['Prod_Agriculture'] = (final_features_df['UVG1']) / final_features_df['Employees_Agriculture']
final_features_df['Prod_Industry'] = (final_features_df['UVGM']) / final_features_df['Employees_Industry']
final_features_df['Prod_Services'] = (final_features_df['UVG5']) / final_features_df['Employees_Services']

final_features_df['Share_Agriculture'] = final_features_df['Employees_Agriculture'] / final_features_df['Employees_Total']
final_features_df['Share_Industry'] = final_features_df['Employees_Industry'] / final_features_df['Employees_Total']
final_features_df['Share_Services'] = final_features_df['Employees_Services'] / final_features_df['Employees_Total']

g = final_features_df.groupby('COUNTRY')
final_features_df['dShare_Agr'] = g['Share_Agriculture'].diff()
final_features_df['dShare_Ind'] = g['Share_Industry'].diff()
final_features_df['dShare_Serv'] = g['Share_Services'].diff()

final_features_df['Prod_Agr_lag'] = g['Prod_Agriculture'].shift()
final_features_df['Prod_Ind_lag'] = g['Prod_Industry'].shift()
final_features_df['Prod_Serv_lag'] = g['Prod_Services'].shift()

final_features_df['SC'] = (
    final_features_df['dShare_Agr'] * final_features_df['Prod_Agr_lag'] +
    final_features_df['dShare_Ind'] * final_features_df['Prod_Ind_lag'] +
    final_features_df['dShare_Serv'] * final_features_df['Prod_Serv_lag']
)

final_features_df['dProd_Agr'] = g['Prod_Agriculture'].diff()
final_features_df['dProd_Ind'] = g['Prod_Industry'].diff()
final_features_df['dProd_Serv'] = g['Prod_Services'].diff()

final_features_df['Within_SP'] = (
    g['Share_Agriculture'].shift() * final_features_df['dProd_Agr'] +
    g['Share_Industry'].shift() * final_features_df['dProd_Ind'] +
    g['Share_Services'].shift() * final_features_df['dProd_Serv']
)

final_features_df['Total_Prod'] = (
    final_features_df['Share_Agriculture'] * final_features_df['Prod_Agriculture'] +
    final_features_df['Share_Industry'] * final_features_df['Prod_Industry'] +
    final_features_df['Share_Services'] * final_features_df['Prod_Services']
)
final_features_df['dTotal_Prod'] = g['Total_Prod'].diff()

final_features_df['GDP_growth'] = g['HVGDP'].pct_change()

final_features_df['EU_Distance'] = (final_features_df['HVGDP'] / final_features_df['EU_HVGDP']) - 1

final_features_df['log_GDP'] = np.log(final_features_df['HVGDP'])
final_features_df['log_EU_GDP'] = np.log(final_features_df['EU_HVGDP'])
final_features_df['log_GDP_gap'] = final_features_df['log_EU_GDP'] - final_features_df['log_GDP']

final_features_df['Employment_growth'] = g['NETD'].pct_change()

final_features_df = final_features_df.dropna()
final_features_df

/var/folders/1r/8qsv6l4d2xs9tv69xpg5sfqw0000gn/T/ipykernel_1368/3643756697.py:48: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  final_features_df['GDP_growth'] = g['HVGDP'].pct_change()
/var/folders/1r/8qsv6l4d2xs9tv69xpg5sfqw0000gn/T/ipykernel_1368/3643756697.py:56: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  final_features_df['Employment_growth'] = g['NETD'].pct_change()

,COUNTRY,DATE,HVGDP,NETD,PIGT,UDGGL,UMGS,UVG1,UVG5,UVGM,...,dProd_Serv,Within_SP,Total_Prod,dTotal_Prod,GDP_growth,EU_Distance,log_GDP,log_EU_GDP,log_GDP_gap,Employment_growth
9,Albania,2010,3.13018,1060.272,87.708462,5.16,4.36972,1.491625,3.76706,0.543508,...,-0.000271,0.000090,0.004971,0.000159,0.032885,-0.875267,1.141091,3.222672,2.081581,0.006362
10,Albania,2011,3.21081,1188.274,88.214005,5.56,4.81740,1.559662,3.94006,0.577610,...,0.000859,0.000368,0.005241,0.000271,0.025759,-0.875935,1.166523,3.253472,2.086948,0.120726
11,Albania,2012,3.28534,1148.127,89.247752,5.93,4.56023,1.676237,4.14557,0.512587,...,0.000455,0.000273,0.005587,0.000345,0.023212,-0.873544,1.189470,3.257327,2.067857,-0.033786
12,Albania,2013,3.33013,1022.221,89.253506,6.31,4.51982,1.824542,4.10984,0.554131,...,0.000389,0.000628,0.006336,0.000749,0.013633,-0.873127,1.203011,3.267578,2.064567,-0.109662
13,Albania,2014,3.46821,1030.612,89.446072,6.98,4.70467,1.927619,4.27428,0.591890,...,0.000131,0.000248,0.006634,0.000298,0.041464,-0.870757,1.243639,3.289700,2.046061,0.008209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Slovenia,2019,23.05228,1045.710,99.323605,31.79,36.44828,0.852560,27.21682,9.907910,...,0.002113,0.001864,0.038653,0.002074,0.050612,-0.271177,3.137765,3.454090,0.316325,0.024322
170,Slovenia,2020,22.22689,1038.440,100.000000,37.47,32.37927,0.886770,26.72400,9.589750,...,-0.000847,-0.000712,0.038036,-0.000617,-0.035805,-0.269897,3.101303,3.415873,0.314570,-0.006952
171,Slovenia,2021,24.68184,1051.920,105.637243,38.93,40.63249,0.786190,30.08694,10.381270,...,0.002830,0.003972,0.042462,0.004426,0.110450,-0.256134,3.206068,3.501961,0.295894,0.012981
172,Slovenia,2022,26.97878,1082.440,119.952994,41.39,52.49091,0.973270,33.04655,11.339980,...,0.004135,0.003576,0.045998,0.003536,0.093062,-0.250244,3.295051,3.583057,0.288007,0.029014
173,Slovenia,2023,30.15800,1100.190,126.299108,43.74,49.14486,0.971620,36.93156,12.530840,...,0.007354,0.005265,0.050975,0.004978,0.117842,-0.209579,3.406450,3.641640,0.235189,0.016398

In [85]:
print(f"Total observations: {len(final_features_df)}", end="\n\n")
print("Observations by country:\n", final_features_df.groupby('COUNTRY').size().sort_values(ascending=False))

print("\nSC + Within_SP ~= dTotal_Prod (McMillan-Rodrik identity):")
final_features_df['Decomposition_Check'] = final_features_df['SC'] + final_features_df['Within_SP']
final_features_df['Decomp_Error'] = abs(final_features_df['dTotal_Prod'] - final_features_df['Decomposition_Check'])

print(f"Mean absolute decomposition error: {final_features_df['Decomp_Error'].mean():.2f}")
print(f"Max absolute decomposition error: {final_features_df['Decomp_Error'].max():.2f}")
print(f"Correlation (SC+Within vs dTotal_Prod): {final_features_df['Decomposition_Check'].corr(final_features_df['dTotal_Prod']):.4f}")

print("\nSample check (first 5 rows):")
check_cols = ['COUNTRY', 'DATE', 'SC', 'Within_SP', 'Decomposition_Check', 'dTotal_Prod', 'Decomp_Error']
print(final_features_df[check_cols].head(), end='\n\n')

key_vars = ['EU_Distance', 'SC', 'Within_SP', 'Trade_Openness', 'GDP_growth', 'PIGT', 'NETD']
print(final_features_df[key_vars].describe())

Total observations: 149

Observations by country:
 COUNTRY
Bulgaria           22
Greece             22
Slovenia           22
Croatia            21
Serbia             19
North Macedonia    17
Albania            14
Montenegro         12
dtype: int64

SC + Within_SP ≈ dTotal_Prod (McMillan-Rodrik identity):
Mean absolute decomposition error: 0.00
Max absolute decomposition error: 0.00
Correlation (SC+Within vs dTotal_Prod): 0.9996

Sample check (first 5 rows):
    COUNTRY  DATE        SC  Within_SP  Decomposition_Check  dTotal_Prod  \
9   Albania  2010  0.000079   0.000090             0.000170     0.000159
10  Albania  2011 -0.000075   0.000368             0.000293     0.000271
11  Albania  2012  0.000066   0.000273             0.000339     0.000345
12  Albania  2013  0.000132   0.000628             0.000760     0.000749
13  Albania  2014  0.000056   0.000248             0.000305     0.000298

    Decomp_Error
9       0.000011
10      0.000022
11      0.000006
12      0.000011
13      0.000007

       EU_Distance          SC   Within_SP  Trade_Openness  GDP_growth  \
count   149.000000  149.000000  149.000000      149.000000  149.000000
mean     -0.627464    0.000078    0.000792        4.518459    0.063120
std       0.226367    0.000190    0.001259        2.650509    0.070836
min      -0.888536   -0.000461   -0.004336        0.540575   -0.153576
25%      -0.810020   -0.000022    0.000169        2.266769    0.020318
50%      -0.735202    0.000059    0.000679        3.590427    0.059614
75%      -0.440445    0.000154    0.001349        6.895318    0.103494
max      -0.129265    0.000768    0.005265       11.391578    0.256771

             PIGT         NETD
count  149.000000   149.000000
mean    96.490301  2123.819275
std     14.008744  1448.375278
min     53.589578   193.250000
25%     89.253506   944.460000
50%     97.253726  1611.030000
75%    102.759192  3434.170000
max    140.062293  5044.040000

/var/folders/1r/8qsv6l4d2xs9tv69xpg5sfqw0000gn/T/ipykernel_1368/2665345212.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_features_df['Decomposition_Check'] = final_features_df['SC'] + final_features_df['Within_SP']
/var/folders/1r/8qsv6l4d2xs9tv69xpg5sfqw0000gn/T/ipykernel_1368/2665345212.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_features_df['Decomp_Error'] = abs(final_features_df['dTotal_Prod'] - final_features_df['Decomposition_Check'])

In [19]:
final_features_df.describe()

,HVGDP,NETD,PIGT,UMGS,UVG1,UVG5,UVGM,UXGS,Employees_Agriculture,Employees_Industry,...,Total_Prod,dTotal_Prod,GDP_growth,EU_Distance,log_GDP,log_EU_GDP,log_GDP_gap,Employment_growth,Decomposition_Check,Decomp_Error
count,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,...,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,1.310000e+02
mean,9.056826,2058.162519,91.079944,21.594968,2.160757,31.578119,5.826148,18.680213,287.761603,491.173863,...,0.017643,0.000590,0.055141,-0.646914,1.968764,3.241426,1.272663,0.008838,0.000609,2.272540e-05
std,5.999708,1432.518757,11.162901,19.462212,2.149362,42.527176,5.291952,16.930650,196.638680,319.248565,...,0.011927,0.000794,0.056443,0.238099,0.709248,0.130676,0.689383,0.042960,0.000793,6.806037e-05
min,1.476730,193.250000,53.589578,1.904050,0.237100,1.907000,0.129690,0.931540,9.113000,35.028000,...,0.002848,-0.001462,-0.088618,-0.923351,0.389830,2.958349,0.138418,-0.138577,-0.001428,2.603658e-08
25%,4.341805,930.865000,86.940294,5.229525,0.782646,4.658154,0.834380,3.602155,109.562500,221.784000,...,0.008472,0.000174,0.021765,-0.840222,1.468006,3.187540,0.524903,-0.006416,0.000185,3.074927e-06
50%,6.354160,1565.520000,92.641716,17.604820,1.559662,19.204050,5.654840,15.245800,236.794000,412.431000,...,0.012274,0.000480,0.058105,-0.776218,1.849110,3.253472,1.497083,0.011892,0.000497,8.425924e-06
75%,14.111235,3427.875000,99.365023,26.890580,2.081646,26.779455,7.167575,27.084850,474.990000,757.912000,...,0.025523,0.000924,0.087717,-0.408332,2.646681,3.324002,1.833972,0.026158,0.000964,1.783782e-05
max,23.052280,4867.130000,111.359614,81.935200,9.268970,164.612700,21.218200,73.258200,767.000000,1218.883000,...,0.042480,0.003437,0.239342,-0.129265,3.137765,3.454090,2.568518,0.281283,0.003443,7.190429e-04

In [86]:
final_features_df.to_csv("../../data/processed/cleaned_features_full.csv", index=False)

bsts_df = final_features_df[['COUNTRY', 'DATE', 'PIGT', 'NETD', 'SC', 'Within_SP', 'Total_Trade', 'EU_Distance', 'estimate_cc', 'estimate_ge', 'estimate_pv', 'estimate_rl', 'estimate_rq', 'estimate_va']]
bsts_df.to_csv("../../data/processed/bsts_input_with_wgi.csv", index=False)

In [87]:
bsts_df['COUNTRY'].unique()

array(['Albania', 'Bulgaria', 'Croatia', 'Greece', 'Montenegro',
       'North Macedonia', 'Serbia', 'Slovenia'], dtype=object)